@import url("https://fonts.googleapis.com/css2?family=Roboto");
@import "./form-style.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  max-height: 792px;
  min-width: 500px;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 450px;
  height: 400px;
  margin: 2rem auto 0 auto;
  animation: animate 0.3s ease-out;
}
.content {
  width: 100%;
  height: 100%;
  position: relative;
  background: #faf9f9;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}
.content::before {
  content: "log in";
  position: absolute;
  top: 0;
  width: max-content;
  transform: translateY(50%) rotate(-30deg);
  font-size: 9rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: #53aff13d;
}
input {
  background: #fff;
  border: 2px solid #666;
  width: 100%;
  height: 40px;
  padding: 12px;
  border-radius: 8px;
  outline: none;
  font-size: 15px;
  color: #666;
  font-weight: 500;
  transition: all 0.2s ease-out;
}
form {
  margin: 0 auto;
  width: 300px;
  height: 118px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.field {
  position: relative;
  font-size: 15px;
}
.label-text {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #666;
  font-weight: bold;
  text-transform: capitalize;
  transition: all 0.2s ease-out;
}
.log-in-btn {
  position: relative;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
  text-transform: capitalize;
  background-color: #53aff1;
  color: #fff;
  font-weight: bold;
  border: 2px solid #53aff1;
  transition: all 0.2s linear;
  z-index: 100;
}
.bottom-text {
  display: block;
  width: 100%;
  font-size: 11px;
  font-weight: lighter;
  text-align: right;
  padding-right: 5rem;
}
.bottom-text a {
  color: #53aff1;
  font-weight: bold;
  text-decoration: none;
}
.bottom-text a:hover {
  text-decoration: underline;
}
.btn {
  position: relative;
}
.alert.incorrect,
.alert.fulfilled {
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translate(-50%, -100%);
  color: rgb(255, 100, 80);
  font-weight: bold;
  font-size: 12px;
  width: max-content;
}
.alert.fulfilled {
  color: rgb(0, 199, 83) !important;
}
.log-in-btn:hover {
  background: transparent;
  color: #53aff1;
}
.pw-field .forgot-pw-message {
  position: absolute;
  bottom: -18px;
  right: 0;
}
.forgot-pw-message a {
  text-decoration: none;
  font-weight: bold;
  font-size: 11px;
  color: #53aff1;
}
.forgot-pw-message a:hover {
  text-decoration: underline;
}
.pw .show-pw {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #444;
  font-size: 16px;
}

/* ANIMATION */
@keyframes animate {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
